body{
	background-color:#004466;
	font-family:Sans-serif;
	font-size:16px;
	font-weight:solid;
}

h1{
	background:-webkit-linear-gradient(left,red,yellow,green,blue);
	background:-o-linear-gradient(left,red,yellow,green,blue);
	background:-moz-linear-gradient(left,red,yellow,green,blue);
	background:-linear-gradient(to right,red,yellow,green,blue);
	font-family:sans-serif;
	font-size:30px;
	font-weight:solid;
	text-align:center;
}
.nom{
	color:red;
	font-style:italic;
	font-size:20px;
	font-weight:solid;
}
.nomp{
	color:yellow;
	font-style:italic;
	font-size:20px;
	font-weight:solid;
}
.noml{
	background-color:yellow;
	font-style:italic;
	font-size:20pxpx;
	font-weight:solid;
}
header{
	background-color:green;
	font-size:100px;
	font-family:sans-serif;
	font-weight:solid;
	font-style:;
	text-align:center;
}
.recap{
	float:right;
}
.appel{
	background-color:green;
}
#e-mail{
	width:50px;
	height:50px;
	display:block;
	position:absolute;
	float:right;
}
footer{
	background-color:grey;
	margin-top:200px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:40px;
	
}


a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  transition: transform 0.2s;
}
a:hover img {
  transform: scale(1.2);
}

a:hover {
  color: #007bff;
}
	


