body{
	background-color:#004466;
	font-family:Sans-serif;
	font-size:16px;
	font-weight:solid;
}

h1{
	background:-webkit-linear-gradient(left,red,yellow,green,blue);
	background:-o-linear-gradient(left,red,yellow,green,blue);
	background:-moz-linear-gradient(left,red,yellow,green,blue);
	background:-linear-gradient(to right,red,yellow,green,blue);
	font-family:sans-serif;
	font-size:30px;
	font-weight:solid;
	text-align:center;
}
.nom{
	color:red;
	font-style:italic;
	font-size:20px;
	font-weight:solid;
}
.nomp{
	color:yellow;
	font-style:italic;
	font-size:20px;
	font-weight:solid;
}
.noml{
	background-color:yellow;
	font-style:italic;
	font-size:20pxpx;
	font-weight:solid;
}
header{
	background-color:green;
	font-size:100px;
	font-family:sans-serif;
	font-weight:solid;
	font-style:;
	text-align:center;
}
div{
	float:right;
}

#e-mail{
	width:50px;
	height:50px;
	display:block;
	position:absolute;
	float:right;
}
footer{
	background-color:grey;
	margin-top:200px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:50px;
	
}
.a{
	text-align:right;
}
	


